titiler.core>=0.18.0
titiler.extensions>=0.18.0
titiler.mosaic>=0.18.0
rio-tiler>=6.4.0
rio-tiler-stac>=0.1.0
cogeo-mosaic>=7.1.0
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
boto3>=1.34.25
planetary-computer>=1.0.0
pystac-client>=0.8.0
httpx>=0.27.0
